.contact-container{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
}
.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve {
  width: 100%;
  height: 100%;
}
.one img,.two img,.three img,.four img,.five img,.six img,.seven img,.eight img,.nine img,.ten img,.eleven img,.twelve img{
  width: 100%;
  height: 100%;
}