<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons/font/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="../static/css/catalogo.css">
    <script src="../static/scripts/jquery-3.6.0.js"></script>
    <script src="../static/scripts/catalogo.js"></script>
    <title>MOAM</title>
</head>
<audio autoplay="-1">
    <source src="../static/img/Sunset.mp3" type="audio/mpeg">
</audio>
<body>
    <header>
        <nav id="main-nav">
            <a href="/"><img src="{{ url_for('static', filename='img/Positivo/2.png') }}"></a>
            <div>
                <ul>
                    <li>
                        <a href="/Catalogo">Catalogo</a>
                    </li>
                    <li>
                        <a href="/">Nosotros</a>
                    </li>
                    <li>
                        <a href="/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="border-a">
        <div class="redes">
            <a href="www.facebook.com"><i class="bi bi-facebook" style="font-size: 2rem; color: black;"></i></a>
            <a href="www.instragram.com"><i class="bi bi-instagram" style="font-size: 2rem; color: black;"></i></a>
        </div>
    </div>
    <Section class="titulo-contacto">
        <h1>Catalogo</h1>
    </Section>
    <main>
        <div class="contact-container"> 
            <div class="one"><img src="../static/img/chaleco-azul.jpg" id="uno"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/chaleco-negro.jpg') }}" id="dos"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/chaleco-rojo.jpg') }}" id="tres"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/chaleco-rosa.jpg') }}" id="cuatro"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/chamarra-gris.jpg') }}" id="cinco"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/chamarra-negra.jpg') }}" id="seis"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/chamarra-roja.jpg') }}" id="siete"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/chamarra-rosa.jpg') }}" id="ocho"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/dino-brown.jpg') }}" id="nueve"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/dino-pink.jpg') }}" id="diez"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/bichaleco.jpg') }}" id="once"></div>
            <div class="one"><img src="{{ url_for('static', filename='img/vestido-chq.jpg') }}" id="doce"></div>
        </div>
    </main>
    <footer>
        <div class="container-f-a">
            <div class="container-body">
                <div class="column1">
                    <h1>Redes Sociales</h1>
                    <a href="www.facebook.com"><i class="bi bi-facebook" style="font-size: 1.5rem; color: black;"></i><label>Siguenos en Facebook</label></a>
                    <p></p>
                    <a href="www.instagram.com"><i class="bi bi-instagram" style="font-size: 1.5rem; color: black;"></i><label>Siguenos en Instagram</label></a>
                </div>
                <div class="column2">
                    <h1>Informacion de Contacto</h1>
                    <address>
                        <div class="address">
                            <i class="bi bi-telephone-fill" style="font-size: 1.5rem; color: black;"></i>
                            <p>Deidades 2 Tepeyac Cuautla Morelos México</p>
                        </div>
                        <p><i class="bi bi-house-door-fill" style="font-size: 1.5rem; color: black;"></i>  +527351506518</p>
                        <p></p>
                        <p><i class="bi bi-envelope-fill" style="font-size: 1.5rem; color: black;"></i>  alan.emi10@hotmail.com</p> 
                    </address>
                </div>
            </div>
        </div>
        <div class="container-footer">
            <div class="copyright">
                @ 2021 Todos los Derechos Reservados
            </div>
        </div>
    </footer>
</body>
</html>