<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons/font/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacto.css') }}">
    <script src="{{ url_for('static', filename='scripts/jquery-3.6.0.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/contacto.js') }}"></script>
    <title>MOAM</title>
</head>
<body>
    <header>
        <nav id="main-nav">
            <a href="/"><img src="{{ url_for('static', filename='img/Positivo/2.png') }}"></a>
            <div>
                <ul>
                    <li>
                        <a href="/Catalogo">Catalogo</a>
                    </li>
                    <li>
                        <a href="/">Nosotros</a>
                    </li>
                    <li>
                        <a href="/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="border-a">
        <div class="redes">
            <a href="https://www.facebook.com/Replase630"><i class="bi bi-facebook" style="font-size: 2rem; color: black;"></i></a>
            <a href="www.instragram.com"><i class="bi bi-instagram" style="font-size: 2rem; color: black;"></i></a>
        </div>
    </div>
    <Section class="titulo-contacto">
        <h1>Contacto</h1>
    </Section>
    <section class="form-wrap">
        <section class="contact-info">
            <section class="info-title">
                <span class="bi bi-person-fill"></span>
                <h3>Informacion <br>De Contacto</h3>
            </section>
            <section class="info-items">
                <p><span class="bi bi-envelope"></span>alan.emi10@hotmail.com</p>
                <p><span class="bi bi-telephone"></span>735-150-65-18</p>
            </section>
        </section>
        <form action="" class="form-contact">
            <h2>Contactanos</h2>
            <div class="user-div">
                <label for="nombre">Nombre(s) *</label>
                <input type="text" name ="nombre" placeholder="Ingrese su(s) nombre(s)">
                <label for="apellido">Apellido(s) *</label>
                <input type="text" name ="apellido" placeholder="Ingrese su(s) apellido(s)">
                <label for="telefono">Telefono </label>
                <input type="text" name ="telefono" placeholder="Ingrese su telefono">
                <label for="e-mail">E-mail *</label>
                <input type="text" name ="e-mail" placeholder="Ingrese su e-mail">
                <button type="submit" id="btn-send">
                    Guardar
                </button>
            </div>
        </form>
        <section class="tabla1">
            <table >
                <thead>
                    <tr class="tr1">
                        <td><H1>Nombre</H1></td>
                        <td><h1>Apellidos</h1></td>
                        <td><h1>Telefono</h1></td>
                        <td><h1>e-mail</h1></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes%}
                    <tr>
                        <td>{{cliente.1}}</td>
                        <td>{{cliente.2}}</td>
                        <td>{{cliente.3}}</td>
                        <td>{{cliente.4}}</td>
                        <td>
                            <a href = "/edit/{{cliente.0}}">Editar</a>
                            <a href = "/eliminar/{{cliente.0}}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </section>
    <footer>
        <div class="container-f-a">
            <div class="container-body">
                <div class="column1">
                    <h1>Redes Sociales</h1>
                    <a href="www.facebook.com"><i class="bi bi-facebook" style="font-size: 1.5rem; color: black;"></i><label>Siguenos en Facebook</label></a>
                    <p></p>
                    <a href="www.instagram.com"><i class="bi bi-instagram" style="font-size: 1.5rem; color: black;"></i><label>Siguenos en Instagram</label></a>
                </div>
                <div class="column2">
                    <h1>Informacion de Contacto</h1>
                    <address>
                        <div class="address">
                            <i class="bi bi-telephone-fill" style="font-size: 1.5rem; color: black;"></i>
                            <p>Deidades 2 Tepeyac Cuautla Morelos México</p>
                        </div>
                        <p><i class="bi bi-house-door-fill" style="font-size: 1.5rem; color: black;"></i>  +527351506518</p>
                        <p></p>
                        <p><i class="bi bi-envelope-fill" style="font-size: 1.5rem; color: black;"></i>  alan.emi10@hotmail.com</p> 
                    </address>
                </div>
            </div>
        </div>
        <div class="container-footer">
            <div class="copyright">
                @ 2021 Todos los Derechos Reservados
            </div>
        </div>
    </footer>
</body>
</html>