<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edt.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="registro">
        <h1>Editar</h1>
        <div class="formu">
            <form action ='/update/{{cliente.0}}' method = "POST">
                <input type = "text" name = "nombre" placeholder = "nombre" value= "{{cliente.1}}">
                <input type = "text" name = "apellido" placeholder = "apellido" value = "{{cliente.2}}">
                <input type = "text" name = "telefono" placeholder = "telefono" value = "{{cliente.3}}">
                <input type = "text" name = "e-mail" placeholder = "Email" value = "{{cliente.4}}">
            <div class="editb">
                <button type = "submit">
                    Guardar
                </button>
            </div>
                
                </form>
        </div>
        
    </div>
    
</body>
</html>



